@charset "UTF-8";

@media screen and (max-width: 320px) {
    div#login {
        left: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width: 376px) {
    div#login {
        left: 40px;
    }
}